<div class="medical-card-details-pages">
  <cds-ion-top-bar>
    <cds-ion-top-bar-title>Medical cards</cds-ion-top-bar-title>
    <cds-ion-top-bar-left>
      <cds-ion-icon [icon]="'arrow:left'" (click)="onBack()"></cds-ion-icon>
    </cds-ion-top-bar-left>
    <cds-ion-top-bar-right>
    </cds-ion-top-bar-right>
  </cds-ion-top-bar>
  <div class="main">
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
    <p>medical-card-details-pages works!</p>
  </div>
  <div class="footer">
    <cds-ion-button class="cta-button" size="md" (click)="downloadMedicalCard()">Download medical card</cds-ion-button>
  </div>
</div>