.health-content-item-container {
  margin-right: 20px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    width: 100%;
  }

  .card-title {
    margin-left: var(--cds-spacing-03);
    font-weight: 600;
  }

  .card-time-to-read {
    margin-left: var(--cds-spacing-03);
    margin-bottom: 0.5rem;
  }

  .card-date {
    margin-left: var(--cds-spacing-03);
    font-size: small;
    margin-bottom: var(--cds-spacing-04);
  }
}
