<div class="vas-details-pages">
  <cds-ion-top-bar>
    <cds-ion-top-bar-title>Ask a doctor</cds-ion-top-bar-title>
    <cds-ion-top-bar-left>
      <cds-ion-icon [icon]="'arrow:left'" (click)="onBack()"></cds-ion-icon>
    </cds-ion-top-bar-left>
    <cds-ion-top-bar-right>
    </cds-ion-top-bar-right>
  </cds-ion-top-bar>
  <div class="main">
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>


    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
    <p>vas-details-pages works!</p>
  </div>
  <div class="footer">
    <cds-ion-button class="cta-button" size="md" (click)="onCTAClick()">Book your
      consulation</cds-ion-button>
  </div>
</div>