<div class="promo-banner">
  <swiper-container class=" promos" initial-slide="0" slides-per-view="1" autoplay-delay="2000"
    pagination-clickable="true">
    <swiper-slide>
      <img (click)="onPromoClick1($event)"
        src="https://etwmfcatomov01deas.blob.core.windows.net/public/vca_static/banner1.jpg">
    </swiper-slide>
    <swiper-slide>
      <img (click)="onPromoClick2($event)"
        src="https://etwmfcatomov01deas.blob.core.windows.net/public/vca_static/banner1.jpg">
    </swiper-slide>
    <swiper-slide>
      <img (click)="onPromoClick3($event)"
        src="https://etwmfcatomov01deas.blob.core.windows.net/public/vca_static/banner1.jpg">
    </swiper-slide>
    <swiper-slide>
      <img src="https://etwmfcatomov01deas.blob.core.windows.net/public/vca_static/banner1.jpg">
    </swiper-slide>
  </swiper-container>
</div>